<div class="r_box f_r">
    <div class="tit01">
        <h3>
            <span>关注我</span>
            <% if(user === 'admin'){ %> <span id="writeBtn" class=''>写博客</span> <% } %>
            <% if(user != 'admin'){ %> <span id="loginBtn">登录</span> <% } %>
        </h3>
        <div class="gzwm">
            <ul>
                <li>
                <a class="xlwb" href="#">新浪微博</a>
                </li>
                <li>
                <a class="txwb" href="#">腾讯微博</a>
                </li>
                <li>
                <a class="rss" href="#">RSS</a>
                </li>
                <li>
                <a class="wx" href="/">邮箱</a>
                </li>
            </ul>
        </div>
    </div>
        <!--tit01 end-->
    <div class="ad300x100">
        <img src="public/images/ad300x100.jpg"> 
    </div>
    <div class="moreSelect" id="lp_right_select">
        <script>
        window.onload = function () {
            var oLi = document.getElementById("tab").getElementsByTagName("li");
            var oUl = document.getElementById("ms-main").getElementsByTagName("div");

            for (var i = 0; i < oLi.length; i++) {
            oLi[i].index = i;
            oLi[i].onmouseover = function () {
                for (var n = 0; n < oLi.length; n++) oLi[n].className = "";
                this.className = "cur";
                for (var n = 0; n < oUl.length; n++) oUl[n].style.display = "none";
                oUl[this.index].style.display = "block"
            }
            }

            
        }
        </script>
        <div class="ms-top">
        <ul class="hd" id="tab">
            <li class="cur">
            <a href="/">点击排行</a>
            </li>
            <li>
            <a href="/">最新文章</a>
            </li>
            <li>
            <a href="/">站长推荐</a>
            </li>
        </ul>
        </div>
        <div class="ms-main" id="ms-main">
        <div style="display: block;" class="bd bd-news">
            <ul>
            <% if(rank[0]){%><li><a href="/"><%=rank[0].title%></a></li><%} %>
            <% if(rank[1]){%><li><a href="/"><%=rank[1].title%></a></li><%} %>
            <% if(rank[2]){%><li><a href="/"><%=rank[2].title%></a></li><%} %>
            <% if(rank[3]){%><li><a href="/"><%=rank[3].title%></a></li><%} %>
            <% if(rank[4]){%><li><a href="/"><%=rank[4].title%></a></li><%} %>
            </ul>
        </div>
        <div class="bd bd-news">
            <ul>
            <% if(rank[0]){%><li><a href="/"><%=rank[0].title%></a></li><%} %>
            <% if(rank[1]){%><li><a href="/"><%=rank[1].title%></a></li><%} %>
            <% if(rank[2]){%><li><a href="/"><%=rank[2].title%></a></li><%} %>
            <% if(rank[3]){%><li><a href="/"><%=rank[3].title%></a></li><%} %>
            <% if(rank[4]){%><li><a href="/"><%=rank[4].title%></a></li><%} %>
            </ul>
        </div>
        <div class="bd bd-news">
            <ul>
            <% if(rank[0]){%><li><a href="/"><%=rank[0].title%></a></li><%} %>
            <% if(rank[1]){%><li><a href="/"><%=rank[1].title%></a></li><%} %>
            <% if(rank[2]){%><li><a href="/"><%=rank[2].title%></a></li><%} %>
            <% if(rank[3]){%><li><a href="/"><%=rank[3].title%></a></li><%} %>
            <% if(rank[4]){%><li><a href="/"><%=rank[4].title%></a></li><%} %>
            </ul>
        </div>
        </div>
        <!--ms-main end -->
    </div>
    <!--切换卡 moreSelect end -->
    <div class="cloud">
        <h3>标签云</h3>
        <ul>
        <li>
            <a href="/">个人博客</a>
        </li>
        <li>
            <a href="/">web开发</a>
        </li>
        <li>
            <a href="/">前端设计</a>
        </li>
        <li>
            <a href="/">Html</a>
        </li>
        <li>
            <a href="/">CSS3</a>
        </li>
        <li>
            <a href="/">Html5+css3</a>
        </li>
        <li>
            <a href="/">百度</a>
        </li>
        <li>
            <a href="/">Javasript</a>
        </li>
        <li>
            <a href="/">web开发</a>
        </li>
        <li>
            <a href="/">前端设计</a>
        </li>
        <li>
            <a href="/">Html</a>
        </li>
        <li>
            <a href="/">CSS3</a>
        </li>
        <li>
            <a href="/">Html5+css3</a>
        </li>
        <li>
            <a href="/">百度</a>
        </li>
        </ul>
    </div>
    <div class="ad">
        <img src="public/images/03.jpg"> 
    </div>
    <div class="links">
        <h3>
        <span>[
            <a href="/">申请友情链接</a>]</span>友情链接</h3>
        <ul>
        <li>
            <a href="/">万军个人博客</a>
        </li>
        <li>
            <a href="/">web开发</a>
        </li>
        <li>
            <a href="/">前端设计</a>
        </li>
        <li>
            <a href="/">Html</a>
        </li>
        <li>
            <a href="/">CSS3</a>
        </li>
        <li>
            <a href="/">Html5+css3</a>
        </li>
        <li>
            <a href="/">百度</a>
        </li>
        </ul>
    </div>
</div>

<script>
    $("#writeBtn").click(function () {
      var layer = layui.layer;
      layer.open({
        type: 2,
        title: ' ',
        area: ['100%', '100%'],
        content: './write',
        shadeClose: true,
        anim: 2,
      });
    });
    $("#loginBtn").click(function () {
      var layer = layui.layer;
      layer.open({
        type: 2,
        title: '请登录',
        area: ['500px', '300px'],
        content: './loginPage',
      });
    });
</script>

      